-var user = [{'param' : 'Проживаю:', 'value' : 'Москва'},{'param' : 'Возраст:','value':'28'}, {'param':'Родился:','value':'1 октября 1990'}];

.location
    .location__left #{user[0].param}
    .location__right #{user[0].value}
.age
    .age__left #{user[1].param}
    .age__right #{user[1].value}
.birthday
    .birthday__left #{user[2].param}
    .birthday__right #{user[2].value}